* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    image-rendering: pixelated;
    background-image: url(../img/loading.png);
    background-repeat: repeat;
    background-position: center;
    background-size: 256px;
}

.container {
    width: 100%;
}

@font-face {
    font-family: Monocraft;
    src: url(../font/Monocraft.ttf);
}

@font-face {
    font-family: Minecrafter;
    src: url(../font/Minecrafter.ttf);
}

.bannerTop {
    background-color: black;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bannerTop a {
    text-decoration: none;
}

.bannerTop p {
    font-size: 60px;
    color: #2b2b2b;
    font-family: Monocraft;
    display: flex;
    justify-content: center;
    margin-top: -150px;
}

.bar {
    height: 5px;
    background-color: rgb(168, 93, 0);
}

.spacementBar {
    width: 100%;
    height: 50px;
}

.clear {
    clear: both;
}

.menu {
    background-color: black;
    margin-top: -80px;
}

.menu ul {
    text-align: left;
    padding-top: -60px;
    padding: 20px;
}

.menu li {
    display: flex; 
    justify-content: center;
    padding: 10px;
}

.menu a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: Monocraft;
}

.menu a:hover {
    color: rgb(149, 240, 101);
}

.mineButton {
    border-top: #6AC34BFF solid 2px;
    border-right: #6AC34BFF solid 2px;
    border-bottom: #2A641AFF solid 2px;
    border-left: #2A641AFF solid 2px;
    background-color: #3D8428FF;
    text-align: center;
    padding: 1px;
    float: left;
    height: 25px;
    width: 80px;
    background-position: center;
    background-size: cover;
}

.mineButton:hover {
    background-color: black;
    border: black solid 2px;
    color: white;
}

.mineButton a {   
    text-decoration: none;
    font-family: Monocraft;
    font-size: 14px;
    color: white;
}

.homeBackground {
    background-image: url(../img/imgBack.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    width: 100%;
    height: 500px;
}

.homeTitle {
    padding-top: 40px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Monocraft;
}

.homeText {
    padding-top: 10px;
    color: white;
    font-size: 15px;
    font-family: Monocraft;
}

.breakUp {
    height: 128px;
    width: 100%;
    image-rendering: pixelated;
    background-image: url(../img/breakUp.png);
    background-repeat: repeat-x;
    background-position: center;   
    background-size: contain;
}

.breakDown {
    height: 128px;
    width: 100%;
    image-rendering: pixelated;
    background-image: url(../img/breakDown.png);
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
}

.whiteBoxImg1 {
    border: #ffffff solid 3px;
    background-image: url("https://i.imgur.com/u7Eg6Eh.jpeg");
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 250px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.whiteBoxImg2 {
    border: #ffffff solid 3px;
    background-image: url("https://i.imgur.com/atdPhop.png");
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 250px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.whiteBoxImg3 {
    border: #ffffff solid 3px;
    background-image: url("https://i.imgur.com/bb0gYGp.png");
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 250px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.whiteButton {
    border: #ffffff solid 2px;
    background-color: white;
    font-family: Monocraft;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: black;
    padding: 1px;
    float: center;
    height: 25px;
    width: 200px;
    background-position: center;
    background-size: cover;
}

.textCenteredLower {
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Monocraft;
}

.textCenteredBold {
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Monocraft;
    font-weight: bold;
}

li {
    color: white;
    font-size: 20px;
    font-family: Monocraft;
    text-shadow: 2px 0 0 #212121, -2px 0 0 #212121, 0 2px 0 #212121, 0 -2px 0 #212121, 1px 1px #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121;
}

.comments {
    background-color: white;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.co {
    display: inline;
    float: center;
    width: 50%;
    height: 200px;
    text-align: center;
    padding: 20px;
    padding-top: 20px;
    background-color: white;
}

.co img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-bottom: 10px;
}

.cotitle {
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: Monocraft;
}

.cotext {
    padding-top: 10px;
    color: black;
    font-size: 15px;
    font-family: Monocraft;
}

.buttonsSocial {
    background-image: url(../img/loading.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 200px;
}

.butBox {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.butIcon {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.butIcon img {
    width: 64px;
}

.butBoxDiscord {
    margin-top: -30px;
    color: white;
    font-size: 20px;
    font-family: Monocraft;
    text-shadow: 2px 0 0 #212121, -2px 0 0 #212121, 0 2px 0 #212121, 0 -2px 0 #212121, 1px 1px #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121;
    background-color: #2b2b2b;
    padding: 30px;
    border-radius: 15px;
    float: right;
}

.butIconDiscord img {
    width: 64px;
    float: right;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 15px;
    font-family: Monocraft;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer p {
    padding-top: 5px;
}

@media screen and (max-width: 1302px) {


    .butBoxDiscord {
        margin-top: -40px;
    }

    .butIcon {
        margin-right: 40px;
    }

}

@media screen and (max-width: 1146px) {


    .butBoxDiscord {
        margin-top: -30px;
        font-size: 0px;
        background-color: #2b2b2b00;
        float: left;
    }

    .butIcon {
        float: left;
        margin-right: 150px;
    }

}

@media screen and (max-width: 1132px) {

    .butBox {
        padding-top: 70px;
    }

    .butIcon {
        float: none;
        display: inline;
        margin-right: 15%;
    }

    .butBoxDiscord {
        margin-top: -100px;
        font-size: 0px;
        background-color: #2b2b2b00;
        float: none;
    }

}

@media screen and (max-width: 1079px) {

    .butBox {
        padding: 30px;
        padding-top: 70px;
    }

    .butIcon {
        margin-right: 15%;
    }

    .menu li {
        display: inline;
        padding: 20px;
    }

}

@media screen and (max-width: 780px) {

    .butIcon {
        margin-right: 13%;
    }

    .menu li {
        display: inline;
        padding: 10px;
    }

}

@media screen and (max-width: 757px) {

    .butIcon {
        margin-right: 10%;
    }

    .menu {
        margin-top: -100px;
    }
    
    .menu li {
        display: inline;
        padding: 10px;
    }

    .menu a{
        font-size: 10px;
    }

    .comments{
        display: flex; 
        justify-content: center;
        font-size: 10px;
    }

    .butIconDiscord img {
        width: 60px;
        float: right;
        margin-right: -30px;
    }

}


@media screen and (max-width: 560px) {
    .butIcon {
        margin-right: 5%;
    }

}
