 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    image-rendering: pixelated;
    background-image: url(../img/loading.png);
    background-repeat: repeat;
    background-position: center;
    background-size: 256px;
    z-index: -2;
}

.wrapper span {
    position: fixed;
    bottom: -30px;
    height: 20px;
    width: 20px;
    background-image: url(../img/bubble.png);
    background-repet: no-repeat;
    background-position: center;
    background-size: contain;
    image-rendering: pixelated;
    animation: animate 10s linear infinite;
}

.wrapper span:nth-child(1) {
    left: 0;
    height: 10px;
    width: 10px;
    animation-delay: 6s;
}

.wrapper span:nth-child(2) {
    left: 10%;
    animation-delay: 3s;
}

.wrapper span:nth-child(3) {
    left: 20%;
    height: 15px;
    width: 15px;
    animation-delay: 2s;
}

.wrapper span:nth-child(4) {
    left: 30%;
    height: 25px;
    width: 25px;
    animation-delay: 5s;
}

.wrapper span:nth-child(5) {
    left: 40%;
    animation-delay: 1s;
}

.wrapper span:nth-child(6) {
    left: 50%;
    animation-delay: 7s;
}

.wrapper span:nth-child(7) {
    left: 60%;
    height: 10px;
    width: 10px;
    animation-delay: 6s;
}

.wrapper span:nth-child(8) {
    left: 70%;
    animation-delay: 8s;
}

.wrapper span:nth-child(9) {
    left: 80%;
    animation-delay: 6s;
}

.wrapper span:nth-child(10) {
    left: 90%;
    animation-delay: 4s;
}

@keyframes animate {
	0% {
		bottom: 0%;
		margin-left: 50px;
		margin-right: 0px;
	}
	20% {
		bottom: 20%;
		margin-left: 0px;
		margin-right: 50px;
	}
	40% {
		bottom: 40%;
		margin-left: 50px;
		margin-right: 0px;
	}
	60% {
	  bottom: 60%;
	  margin-left: 0px;
	  margin-right: 50px;
	}
	80% {
	  bottom: 80%;
	  margin-left: 50px;
	  margin-right: 0px;
	}
	100% {
   bottom: 100%;
   margin-left: 0px;
   margin-right: 50px;
   opacity: 0;
  }
}

.container {
    width: 100%;
}

@font-face {
    font-family: Monocraft;
    src: url(../font/Monocraft.ttf);
}

@font-face {
    font-family: Minecrafter;
    src: url(../font/Minecrafter.ttf);
}

.bannerTop {
    background-color: black;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bannerTop a {
    text-decoration: none;
}

.bannerTop p {
    font-size: 60px;
    color: #2b2b2b;
    font-family: Monocraft;
    display: flex;
    justify-content: center;
    margin-top: -150px;
}

.spacementBar {
    width: 100%;
    height: 50px; 
}

.clear {
    clear: both;
}

.menu {
    margin-top: -80px;
}

.menu ul {
    text-align: left;
    padding-top: -60px;
    padding: 20px;
}

.menu li {
    display: flex; 
    justify-content: center;
    padding: 10px;
}

.menu a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: Monocraft;
}

.menu a:hover {
    color: rgb(149, 240, 101);
}

.minenauticaButton {
    border-top: #FFDBB0 solid 2px;
    border-bottom: #B57221 solid 2px;
    background-color: #F5C34E;
    font-family: Monocraft;
    font-size: 14px;
    text-align: center;
    color: white;
    padding: 1px;
    float: middle;
    height: 20px;
    width: 80px;
    background-position: center;
    background-size: cover;
}

.minenauticaButton:hover {
    background-color: #489CC7;
    border-top: #86D5F0 solid 2px;
    border-bottom: #438DB0 solid 2px;
    color: white;
}

.minenauticaButton a {   
    text-decoration: none;
    color: white;
}

.breakUp {
    height: 128px;
    width: 100%;
    image-rendering: pixelated;
    background-image: url(../img/breakUp.png);
    background-repeat: repeat-x;
    background-position: center;   
    background-size: contain;
}

.breakDown {
    height: 128px;
    width: 100%;
    image-rendering: pixelated;
    background-image: url(../img/breakDown.png);
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
}

.kelpHead {
    height: 300px;
    width: 100%;
    image-rendering: pixelated;
    background-image: url(../img/kelpHead.gif);
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
}

.kelpBody {
    height: 150px;
    width: 100%;
    image-rendering: pixelated;
    background-image: url(../img/kelpBody.gif);
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
}

.whiteBoxImg1 {
    border: #ffffff solid 0px;
    background-image: url(../img/bg2.png);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 300px;
    width: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.whiteBoxImg2 {
    border: #ffffff solid 0px;
    background-image: url(../img/bg4.png);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 300px;
    width: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.whiteBoxImg3 {
    border: #ffffff solid 0px;
    background-image: url(../img/bg1.png);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 300px;
    width: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.whiteBoxImg4 {
    border: #ffffff solid 0px;
    background-image: url(../img/bg2.png);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 300px;
    width: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.whiteButton {
    border: #ffffff solid 0px;
    background-color: white;
    font-family: Monocraft;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    color: black;
    padding: 1px;
    float: center;
    height: 20px;
    width: 80px;
    background-position: center;
    background-size: contain;
}

.textCenteredLower {
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Monocraft;
}

.textCenteredBold {
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Monocraft;
    font-weight: bold;
}

.latestNewsImg {
    border: #000000 solid 1px;
    background-image: url(../img/placeholder.jpg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 260px;
    width: 75%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.latestNewsText {
    font-size: 10px;
    color: white;
    text-align: center;
    padding-top: -40px;
    padding-bottom: 10px;
    font-family: Minecrafter;
    text-shadow: 1px 0 0 #212121, -1px 0 0 #212121, 0 1px 0 #212121, 0 -1px 0 #212121, 1px 1px #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121;
}

.minenauticaLogo {
    background-image: url(../img/logo.png);
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.minenauticaBackground {
    background-image: url(../img/vBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    width: 100%;
    height: 500px;
}

.homeTitle {
    padding-top: 40px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Monocraft;
}

.homeText {
    padding-top: 10px;
    color: white;
    font-size: 15px;
    font-family: Monocraft;
}

.middleSection {
    border-top: #01020a solid 6px;
    border-bottom: #080a1a solid 14px;
    display: block;
    margin-top: 60px; 
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 40px; 
    width: 60%;
    background-color: black;
    height: 500px;
}

.bannermiddle {
    background-size: contain;
    background-color: black;
    background-position: center;
    height: 100%;
    padding-top: 40px;
}

.invisibleBox {
    display: flex;
    justify-content: center;
    padding-right: 50%;
    padding-left: 50%;
    width: 100%;
    height: 250px;
}

.invisibleBoxText {
    width: 150px;
    height: 150px;
    border: white solid 1px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 10px;
    font-family: Monocraft;
}

.invisibleBoxImg {    
    width: 150px;
    height: 150px;
    border: white solid 1px;
    background-image: url(../img/minenauticaBg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

li {
    color: white;
    font-size: 20px;
    font-family: Monocraft;
    text-shadow: 2px 0 0 #212121, -2px 0 0 #212121, 0 2px 0 #212121, 0 -2px 0 #212121, 1px 1px #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121;
}

.comments {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.co {
    display: inline;
    float: center;
    width: 50%;
    height: 200px;
    text-align: center;
    padding: 20px;
    padding-top: 20px;
}

.co img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-bottom: 10px;
}

.botitle {
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: Monocraft;
}

.botext {
    padding-top: 10px;
    color: black;
    font-size: 15px;
    font-family: Monocraft;
}

.botext a {
    text-decoration: none;
    color: #575757;
}

.cotitle {
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Monocraft;
}

.cotext {
    padding-top: 10px;
    color: white;
    font-size: 15px;
    font-family: Monocraft;
}

.cotext a {
    text-decoration: none;
    color: white;
}

.buttonsSocial {
    background-image: url(../img/loading.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 200px;
}

.butBox {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.butIcon {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.butIcon img {
    width: 64px;
}

.butBoxDiscord {
    margin-top: -30px;
    color: white;
    font-size: 20px;
    font-family: Monocraft;
    text-shadow: 2px 0 0 #212121, -2px 0 0 #212121, 0 2px 0 #212121, 0 -2px 0 #212121, 1px 1px #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121;
    background-color: #2b2b2b;
    padding: 30px;
    border-radius: 15px;
    float: right;
}

.butIconDiscord img {
    width: 64px;
    float: right;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 15px;
    font-family: Monocraft;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer p {
    padding-top: 5px;
}

@media screen and (max-width: 1556px) {

    .infoServer {
        margin-left: 20vh;
    }

}

@media screen and (max-width: 1302px) {

    .infoServer {
        margin-left: 10vh;
    }

    .butBoxDiscord {
        margin-top: -40px;
    }

    .butIcon {
        margin-right: 40px;
    }

}

@media screen and (max-width: 1146px) {

    .infoServer {
        margin-left: 5vh;
    }

    .butBoxDiscord {
        margin-top: -30px;
        font-size: 0px;
        background-color: #2b2b2b00;
        float: left;
    }

    .butIcon {
        float: left;
        margin-right: 150px;
    }

}

@media screen and (max-width: 1132px) {

    .butBox {
        padding-top: 70px;
    }

    .butIcon {
        float: none;
        display: inline;
        margin-right: 15%;
    }

    .butBoxDiscord {
        margin-top: -100px;
        font-size: 0px;
        background-color: #2b2b2b00;
        float: none;
    }

}

@media screen and (max-width: 1079px) {

    .butBox {
        padding: 30px;
        padding-top: 70px;
    }

    .butIcon {
        margin-right: 15%;
    }

    .menu li {
        display: inline;
        padding: 20px;
    }

}

@media screen and (max-width: 780px) {

    .butIcon {
        margin-right: 13%;
    }

    .infoServer {
        margin-left: 0vh;
    }

    .menu li {
        display: inline;
        padding: 10px;
    }

}

@media screen and (max-width: 757px) {

    .butIcon {
        margin-right: 10%;
    }

    .menu {
        margin-top: -100px;
    }
    
    .menu li {
        display: inline;
        padding: 10px;
    }

    .menu a{
        font-size: 10px;
    }
    
    .bannermiddle {
        width: 100%;
    }

    .comments{
        display: flex; 
        justify-content: center;
        font-size: 10px;
    }

    .butIconDiscord img {
        width: 60px;
        float: right;
        margin-right: -30px;
    }

}


@media screen and (max-width: 560px) {
    .butIcon {
        margin-right: 5%;
    }

}
