* {
    font-family: Monocraft;
}

html, body {
    height: 100%;
    background-image: url(../img/0.png);
    background-color: black;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    overflow: auto;
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none; /* Para Internet Explorer e Edge */
}
::-webkit-scrollbar {
    display: none; /* Para navegadores baseados em WebKit (Chrome, Safari) */
}

.article {
    min-height: 500px;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(195,98,12,1) 100%);
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    border-radius: 0px;
    width: 100%;
    border-top: solid 0px black;
    border-bottom: solid 1px black;
}

.articleImg {
    position: relative;
    width: 50%;
    height: auto;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}
.articleImg img {
    width: 100%;
    height: 100%;
}

.archive {
    min-height: 1000px;
    background-color: white;
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
    border-radius: 0px;
    width: 80%;
    border-top: solid 0px black;
    border-bottom: solid 1px white;
}

.articleTitle {
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    padding: 20px;
}

.articleDescription {
    font-size: 16px;
    padding: 0px 20px 10px 20px;
    font-family: Monocraft;
    text-align: center;
}

.frames {
    text-align: center;
}

.itemframe {
    display: inline-block;
    margin: 30px 30px 20px 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 5px;
    border-radius: 0px;
    background-color: rgb(207, 207, 207);
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
}

.itemframeTitle {
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 2px 0 0 #212121, -2px 0 0 #212121, 0 2px 0 #212121, 0 -2px 0 #212121, 1px 1px #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121;

}

.itemframeImage img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

.itemframeText {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}

.itemframeButton {
    border-top: #6AC34BFF solid 2px;
    border-right: #6AC34BFF solid 2px;
    border-bottom: #2A641AFF solid 2px;
    border-left: #2A641AFF solid 2px;
    background-color: #3D8428FF;
    text-align: center;
    color: white;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    height: 40px;
    width: 110px;
}

.itemframeButton:hover {
    background-color: black;
    border: black solid 2px;
    color: white;
}

@media screen and (max-width: 820px) {

    .article {
        float: none;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (max-width: 620px) {

    .article {
        float: none;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

}
