/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  height: 100vh;
  position: fixed;
  padding-top: 30px;
  padding-left: 15px;
}

.sidebar .logo h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.sidebar nav ul {
  list-style: none;
}

.sidebar nav ul li {
  margin-bottom: 20px;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  display: block;
  padding: 10px;
  transition: background 0.3s;
}

.sidebar nav ul li a:hover {
  background-color: #555;
}

.content {
  margin-left: 250px;
  padding: 20px;
  width: 100%;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.5rem;
}

section {
  margin-bottom: 40px;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

section p, section ul {
  font-size: 1.1rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
