/* Reset e Estilo Base */
* {
    margin: 0;
    padding: 0;
    font-family: Monocraft, sans-serif;
    box-sizing: border-box;
}

html, body {
    position: relative;
    height: 100%;
    image-rendering: pixelated;
    background-color: #f5f5f5;
    background-repeat: repeat;
    background-position: center;
    background-size: 256px;
    overflow: auto;
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none; /* Para Internet Explorer e Edge */
}

::-webkit-scrollbar {
    display: none; /* Para navegadores baseados em WebKit (Chrome, Safari) */
}

.container {
    position: relative;
    width: 100%;
}

/* Fontes */
@font-face {
    font-family: Monocraft;
    src: url(../font/Monocraft.ttf);
}

@font-face {
    font-family: Minecrafter;
    src: url(../font/Minecrafter.ttf);
}

/* Barra Lateral */
.sidebar {
    width: 250px;
    background: linear-gradient(to bottom, #4c6ef5, #283e8f);
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    text-align: center;
}

.sidebar .logo h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    margin-bottom: 20px;
}

.sidebar nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    font-family: Monocraft;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.sidebar nav ul li a:hover {
    background-color: #3a4f97;
    transform: translateX(10px);
}

/* Conteúdo Principal */
.content {
    margin-left: 250px;
    padding: 20px;
    max-width: 100%;
    height: 100vh;
    overflow: auto;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 3rem;
    color: #283e8f;
    margin-bottom: 20px;
    font-family: Monocraft;
}

/* Seções */
section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 2.2rem;
    margin-bottom: 10px;
    color: #4c6ef5;
    font-family: Monocraft;
}

section p, ul li {
    font-size: 1.1rem;
    line-height: 1.6;
    color: black;
}

/* Barra superior e elementos gráficos */
.bannerTop {
    background-color: black;
    width: 100%;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bannerTop p {
    font-size: 60px;
    color: #2b2b2b;
    font-family: Monocraft;
    display: flex;
    justify-content: center;
    margin-top: -150px;
}

.bar {
    height: 5px;
    background-color: rgb(168, 93, 0);
}

.spacementBar {
    width: 100%;
    height: 50px;
}

/* Botões e Interações */
.mineButton {
    border-top: #6AC34BFF solid 2px;
    border-right: #6AC34BFF solid 2px;
    border-bottom: #2A641AFF solid 2px;
    border-left: #2A641AFF solid 2px;
    background-color: #3D8428FF;
    text-align: center;
    padding: 1px;
    height: 25px;
    width: 80px;
    background-position: center;
    background-size: cover;
}

.mineButton:hover {
    background-color: black;
    border: black solid 2px;
    color: white;
}

.mineButton a {   
    text-decoration: none;
    font-family: Monocraft;
    font-size: 14px;
    color: white;
}

.whiteBoxImg1 {
    border: #ffffff solid 3px;
    background-image: url(../img/worldBg.jpg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 250px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Rodapé */
footer {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 12px;
    font-family: Monocraft;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer p {
    padding-top: 5px;
}

@media screen and (max-width: 1079px) {
    .menu li {
        display: inline;
        padding: 20px;
    }
}
