* {
    margin: 0;
    padding: 0;
    font-family: Monocraft;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    image-rendering: pixelated;
    background-color: #f5f5f5;
    background-repeat: repeat;
    background-position: center;
    background-size: 256px;
    overflow: auto;
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none; /* Para Internet Explorer e Edge */
}
::-webkit-scrollbar {
    display: none; /* Para navegadores baseados em WebKit (Chrome, Safari) */
}

.container {
    width: 100%;
}

@font-face {
    font-family: Monocraft;
    src: url(../font/Monocraft.ttf);
}

@font-face {
    font-family: Minecrafter;
    src: url(../font/Minecrafter.ttf);
}

.bannerTop {
    background-color: black;
    width: 100%;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bannerTop a {
    text-decoration: none;
}

.bannerTop p {
    font-size: 60px;
    color: #2b2b2b;
    font-family: Monocraft;
    display: flex;
    justify-content: center;
    margin-top: -150px;
}

.bar {
    height: 5px;
    background-color: rgb(168, 93, 0);
}

.spacementBar {
    width: 100%;
    height: 50px;
}

.clear {
}

.menu {
    position: absolute;
    z-index: 10;
    margin-top: -15px;
}

.menu ul {
    display: flex;
    list-style: none; /* Remove os marcadores da lista */
    padding: 20px; /* Remove o padding padrão */
}

.menu li {
    margin-right: 25px
}

.menu a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: Monocraft;
}

.menu a:hover {
    color: rgb(149, 240, 101);
}

.mineButton {
    border-top: #6AC34BFF solid 2px;
    border-right: #6AC34BFF solid 2px;
    border-bottom: #2A641AFF solid 2px;
    border-left: #2A641AFF solid 2px;
    background-color: #3D8428FF;
    text-align: center;
    padding: 1px;
    float: left;
    height: 25px;
    width: 80px;
    background-position: center;
    background-size: cover;
}

.mineButton:hover {
    background-color: black;
    border: black solid 2px;
    color: white;
}

.mineButton a {   
    text-decoration: none;
    font-family: Monocraft;
    font-size: 14px;
    color: white;
}

.breakUp {
    height: 128px;
    width: 100%;
    image-rendering: pixelated;
    background-image: url(../img/breakUp.png);
    background-repeat: repeat-x;
    background-position: center;   
    background-size: contain;
}

.breakDown {
    height: 128px;
    width: 100%;
    image-rendering: pixelated;
    background-image: url(../img/breakDown.png);
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
}

.whiteBoxImg1 {
    border: #ffffff solid 3px;
    background-image: url(../img/worldBg.jpg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 250px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.newsArticle {
    min-height: 1000px;
    font-family: Monocraft;
    background-color: #f5f5f5;
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
    width: 80%;
    border-radius: 0px;
    border-top: solid 0px white;
    border-bottom: solid 0px white;
}

.news {
    margin: 5px;
    margin-top: 35px;
}

.newsIcon {
    float: left;
    margin-right: 10px;
}

.newsIcon img {
    width: 50px;
    height: 50px;
}

.newsDescription {
    margin-top: 8px;
    padding: 5px;
    color: black;
    font-family: Monocraft;
}

.whiteButton {
    border-top: #000000 solid 2px;
    border-bottom: #000000 solid 2px;
    background-color: black;
    width: 60px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-family: Monocraft;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: white;
}

.textCenteredLow {
    font-size: 15px;
    color: gray;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: Monocraft;
    font-weight: bold;
}

.textCenteredBold {
    font-size: 20px;
    color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: Monocraft;
    font-weight: bold;
}

.homeBackground {
    background-image: url(../img/n1Bg.jpg);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    max-width: 100%;
    height: auto;
}

.homeBackground img { 
     background-size: cover;
     margin-right: auto; 
     margin-left: auto; 
     float: center; 
     width: 100%; 
     height: auto; 
 }

.homeTitle {
    padding-top: 40px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Monocraft;
}

.homeText {
    padding-top: 10px;
    color: white;
    font-size: 15px;
    font-family: Monocraft;
}

.middleSection {
    display: block;
    margin-top: 60px; 
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 40px; 
    width: 60%;
    background-color: white;
    height: 500px;
}

.bannermiddle {
    background-size: contain;
    background-position: center;
    height: 100%;
    padding-top: 40px;
}

.infoServer {
    text-align: center;
    font-family: Monocraft;
    font-size: 18px;
}

li {
    color: white;
    font-size: 20px;
    font-family: Monocraft;
    text-shadow: 2px 0 0 #212121, -2px 0 0 #212121, 0 2px 0 #212121, 0 -2px 0 #212121, 1px 1px #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121;
}

.comments {
    background-color: white;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.co {
    display: inline;
    float: center;
    width: 50%;
    height: 200px;
    text-align: center;
    padding: 20px;
    padding-top: 20px;
    background-color: white;
}

.co img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-bottom: 10px;
}

.cotitle {
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: Monocraft;
}

.cotext {
    padding-top: 10px;
    color: black;
    font-size: 15px;
    font-family: Monocraft;
}

.buttonsSocial {
    background-image: url(../img/loading.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 200px;
}

.butBox {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.butIcon {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.butIcon img {
    width: 64px;
}

.butBoxDiscord {
    margin-top: -30px;
    color: white;
    font-size: 20px;
    font-family: Monocraft;
    text-shadow: 2px 0 0 #212121, -2px 0 0 #212121, 0 2px 0 #212121, 0 -2px 0 #212121, 1px 1px #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121;
    background-color: #2b2b2b;
    padding: 30px;
    border-radius: 15px;
    float: right;
}

.butIconDiscord img {
    width: 64px;
    float: right;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 15px;
    font-family: Monocraft;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer p {
    padding-top: 5px;
}

@media screen and (max-width: 1556px) {

    .infoImage img {
        margin-right: 20vh;
    }

    .infoServer {
        margin-left: 20vh;
    }

}

@media screen and (max-width: 1302px) {

    .infoImage img {
        margin-right: 10vh;
    }

    .infoServer {
        margin-left: 10vh;
    }

    .butBoxDiscord {
        margin-top: -40px;
    }

    .butIcon {
        margin-right: 40px;
    }

}

@media screen and (max-width: 1146px) {

    .infoImage img {
        margin-right: 5vh;
    }

    .infoServer {
        margin-left: 5vh;
    }

    .butBoxDiscord {
        margin-top: -30px;
        font-size: 0px;
        background-color: #2b2b2b00;
        float: left;
    }

    .butIcon {
        float: left;
        margin-right: 150px;
    }

}

@media screen and (max-width: 1132px) {

    .butBox {
        padding-top: 70px;
    }

    .butIcon {
        float: none;
        display: inline;
        margin-right: 15%;
    }

    .butBoxDiscord {
        margin-top: -100px;
        font-size: 0px;
        background-color: #2b2b2b00;
        float: none;
    }

}

@media screen and (max-width: 1079px) {

    .butBox {
        padding: 30px;
        padding-top: 70px;
    }

    .butIcon {
        margin-right: 15%;
    }

    .menu li {
        display: inline;
        padding: 20px;
    }

}

@media screen and (max-width: 860px) {

    .homeGallery {
        margin: 0px;
        margin-top: 90px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .textHGtwo {
        font-size: 30px;
        color: white;
        text-align: center;
        padding-right: 40px;
        padding-top: 190px;
        font-family: Monocraft;
        text-shadow: 2px 0 0 #212121, -2px 0 0 #212121, 0 2px 0 #212121, 0 -2px 0 #212121, 1px 1px #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121;
    }
    
    .textHGone {
        font-size: 30px;
        color: white;
        text-align: center;
        padding-right: 40px;
        padding-top: 190px;
        font-family: Monocraft;
        text-shadow: 2px 0 0 #212121, -2px 0 0 #212121, 0 2px 0 #212121, 0 -2px 0 #212121, 1px 1px #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121;
    }
    
    .hg1 {
        border-right: none;
        float: none;
        width: 100%;
        border-top-left-radius: 0px;
    }
    
    .hg2 {
        border-left: none;
        float: none;
        width: 100%;
        border-top-right-radius: 0px;
    }
    
    .hg3 {
        border-top: none;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .infoImage img {
        margin-right: 0vh;
    }
}

@media screen and (max-width: 780px) {

    .butIcon {
        margin-right: 13%;
    }

    .infoImage img {
        margin-right: 0vh;
    }

    .infoServer {
        margin-left: 0vh;
    }

    .menu li {
        display: inline;
        padding: 10px;
    }

}

@media screen and (max-width: 757px) {

    .butIcon {
        margin-right: 10%;
    }

    .infoImage {
        float: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .menu {
        margin-top: 0px;
    }
    
    .menu li {
        display: inline;
        padding: 10px;
    }

    .menu a{
        font-size: 10px;
    }
    
    .bannermiddle {
        width: 100%;
    }

    .comments{
        display: flex; 
        justify-content: center;
        font-size: 10px;
    }

    .butIconDiscord img {
        width: 60px;
        float: right;
        margin-right: -30px;
    }

}


@media screen and (max-width: 560px) {
    .butIcon {
        margin-right: 5%;
    }

    .infoImage {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
    }

}
